.body
{ 
    padding: 0px;
    margin: 0px;
}

.div
{
    padding: 0px;
    margin: 0px;
}

#nav
{
    background-color: black;
}

nav ul li
{
	margin-right: 20%;
}

div img
{
	opacity: 0.5;
	filter: alpha(opacity=50);
}

div img:hover
{
	zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

p
{
	font-family:Verdana;
	font-style:italic;
}

input
{
    margin-left: 75%;
    border: none;
    font-size: 17px;
}
.container-1 
{
    background-image: url('luuad.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    height: 300px;
}

.container-2
{
	position: absolute;
    background-color: lightgray;
	width: 100%;
	height: 100%;
}

.container-3
{
    margin-top: 420px;
    position: absolute;
    width: 100%;
    background-color: rgb(48,48,48);
    height: 700px;
}


.nav-link
{
    color: white;
}

#nav
{
    background-color: rgba(12,13,17, 0.8);
    position: absolute;
    justify-content: center;
    width: 100%;
}

#c2text
{
    position: absolute;
    margin-left: 10px;
    margin-top: 100px;
    margin-bottom: 10px;
	padding-left: 5%;
	padding-right: 50%;
}

#c2text2
{
    position: absolute;
    margin-left: 10px;
    margin-top: -50px;
    color: white;
    font-size: 20px;
}

#c2text3
{
    position: absolute;
    color: white;
    margin-left: 10px;
    margin-top: 245px;
    margin-bottom: 10px;
    font-size: 20px;
}

#quote
{
	margin: auto;
	margin-top: 20px;
	width: 50%;
    height: 75px;
    font-size: 25px;
    border: black solid 2px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
	box-shadow: inset 0 0 4px #000000;
}

#tants
{
    position: absolute;
    margin-top: 50px;
    margin-left: 700px;
}

#harjumaa
{
    position: absolute;
    margin-left: 30px;
    margin-top: -15px;
}

#taants
{
    position: absolute; 
    margin-left: 210px;
    margin-top: -15px;
}

#tartumaa
{
    position: absolute;
    margin-left: 410px;
    margin-top: -15px;
}

#pärnumaa
{
    position: absolute;
    margin-left: 610px;
    margin-top: -15px;
}

#idavirumaa
{
    position: absolute;
    margin-left: 810px;
    margin-top: -15px;
}

#harjumaa1
{
    position: absolute;
    margin-left: 30px;
    margin-top: 285px;
}

#taants1
{
    position: absolute; 
    margin-left: 210px;
    margin-top: 285px;
}

#tartumaa1
{
    position: absolute;
    margin-left: 410px;
    margin-top: 285px;
}

#pärnumaa1
{
    position: absolute;
    margin-left: 610px;
    margin-top: 285px;
}

#idavirumaa1
{
    position: absolute;
    margin-left: 810px;
    margin-top: 285px;
}

#social
{
    float: right;
    display: flex;
}

#social div
{
    margin-left:450px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: gray;
    margin-top: -45px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    justify-content: center;
    color: black;
    font-size: 45px;
}

#twitter
{

    margin-left: 50px;
}

footer h1
{
font-size: 15px;
margin-left: 50px;
margin-top: 55px;
}

.triangle-down 
{
	position: absoulute;
    width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid lightgray;
    margin-left: 925px;
}

.container
{
  position: relative;
  text-align: center;
  color: white;
}


.Harjumaa
{
  position: absolute;
  top: 120px;
  left: -235px;
  font-size: 20px;
}


.Viljandimaa 
{
  position: absolute;
  top: 120px;
  left: 115px;
  font-size: 20px;
}


.Tartumaa
{
  position: absolute;
  top: 120px;
  left: 525px;
  font-size: 20px;
}


.Pärnumaa
{
  position: absolute;
  top: 120px;
  left: 925px;
  font-size: 20px;
}

.Ida-Virumaa
{
  position: absolute;
  top: 120px;
  left: 1370px;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.Flamenko
{
  position: absolute;
  top: 420px;
  left: -235px;
  font-size: 20px;
}

.Hip-hop
{
  position: absolute;
  top: 420px;
  left: 125px;
  font-size: 20px;
}

.Seltskonnatants
{
  position: absolute;
  top: 420px;
  left: 500px;
  font-size: 20px;
}

.Rahvatants
{
  position: absolute;
  top: 420px;
  left: 920px;
  font-size: 20px;
}

.Nabatants
{
  position: absolute;
  top: 420px;
  left: 1325px;
  font-size: 20px;
}

footer 
{
    position: absolute;
    width: 100%;
    height: 140px;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 1120px;
}